@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.button {
  @include mixins.typography-xs;
  padding: 14px 24px 12px 24px;
  width: 150px;
  height: 45px;
  background: inherit;
  border-radius: 60px;
}
