@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.heading {
  @include mixins.typography-xl;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 1140px;
  font-weight: 400;

}
.subtitle {
  @include mixins.typography-m;
}
