@use 'variables';

@mixin typography-xxs {
  font-size: 16px;
  line-height: 18px;
}

@mixin typography-xs {
  font-size: 16px;
  line-height: 18.75px;
}

@mixin typography-s {
  font-size: 16px;
  line-height: 24px;
}

@mixin typography-m {
  font-size: 24px;
  line-height: 32px;
}

@mixin typography-l {
  font-size: 28px;
  line-height: 32px;
}

@mixin typography-xl {
  font-size: 60px;
  line-height: 68px;
}

@mixin shadow {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04),0 10px 20px 0 rgba(0, 0, 0, 0.04);
}


