/*
  Fonts variables
*/
$font-roboto: 'Roboto', sans-serif;

/*
  Colors variables
*/
$color-palette-white: #FFFFFF;
$color-palette-black: #0A0A0A;
$color-palette-green: #219653;
$color-palette-gray: rgba(58, 53, 65, 0.54);
$color-palette-red: #EB5757;
