/*
  Fonts variables
*/
$font-roboto: 'Roboto', sans-serif;

/*
  Colors variables
*/
$color-palette-white: #FFFFFF;
$color-palette-black: #0A0A0A;
$color-palette-form-border: rgba(145, 158, 171, 0.32);
$color-palette-input-color: rgba(51, 51, 51, 1);
$color-palette-topic-border: rgba(244, 244, 244, 1);
